body {
    font-family: sans-serif;
    margin: 0;
}

.header {
    height: 80px;
    width: 100vw;
    padding-top: 20px;

    background-color: teal;

    display: flex;
}

.menu, .logo {
    align-content: center;
}

.menu a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;

    margin-left: 50px;
}

.logo {
    margin-left: 80px;
}